#events {
    height: fit-content;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.ux-event-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ux-event-logo {
    position: absolute;
    /* left: 500px; */
    height: auto;
    width: 25%;
}

.event-container {
    width: -webkit-fill-available;
    object-fit: cover;
    background-position: center;
    border-radius: 16px;
}

.text-event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-event-container p {
    text-align: center;
}

.event-container img {
    max-width: 250px;
    max-height: 250px;
    margin: 50px 0;
}

.event-title {
    font-weight: bold;
    /* color: #FFFAF1; */
    /* font-size: 6em; */
    /* font-family: "cocogoose-regular"; */
}

.events-going-interestet-icon {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.event-info-location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 22px;
}

.events-going-container {
    display: flex;
    gap: 8px;
    width: fit-content;
    background: antiquewhite;
    padding: 8px 16px;
    border-radius: 16px;
}

.events-going-container h3 {
    width: fit-content;
    font-weight: normal;
}