footer {
  background-color: rgb(31, 31, 31);
  height: fit-content;
  align-content: center;
  border-top: 0.1em solid #555555; 
  /* padding: 50px 300px; */
}

.footer-portfolio-logo {
  display: flex;
  gap: 8px;
  width: fit-content;
}

.footer-portfolio-logo img {
  width: 28px;
  height: 28px;
}

.footer-c small {
  color: #FFFAF1;
  align-content: center;
}

.footer-portfolio-contents {
  display: flex;
  justify-content: space-between;
}

#contact {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

footer .divider {
  margin: 22px 0;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

footer h2 {
  color: #EEEEEE;
}

.footer-get-in-touch {
  margin-bottom: 22px;
}

.footer-about-us,
.footer-address {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-contact-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
}

.footer-about-us h2,
.footer-address h2,
.footer-contact h2 {
  color: #FFFAF1;
}

.footer-contact p {
  color: #555555;
}

.contact-inputs {
  width: -webkit-fill-available;
  height: 48px;
  outline: none;
  border: none;
  padding: 16px;
  color: #666;
  background: gainsboro;
  border-radius: 12px;
}

.footer-contact textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 12px;
}

.contact-inputs:focus {
  border: 2px solid dimgray;
}

.contact-inputs::placeholder {
  color: #555555;
}

.footer-contact button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px 30px;
  font-size: 1rem;
  color: #fff;
  background: #333;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.footer-contact button img {
  width: 15px;
  height: 15px;
}

.footer-c {
  display: flex;
  justify-content: space-between;
}

.footer-c p {
  color: #555555;
  font-size: small;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.contact-info-upper-container {
  display: flex;
  border-radius: 2rem;
  border: 0.1rem solid;
  border-color: rgb(85, 85, 85);
  padding: 8px 12px 8px 12px;
}

/* .spikes {
  position: relative;
  background: #FFFAF1;
  height: fit-content;
}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, #FFFAF1 25%, transparent 25%), linear-gradient(225deg, #FFFAF1 25%, transparent 25%);
  background-position: 0 0;
} */