#projects {
    background-color: rgb(31, 31, 31);
    height: fit-content;
    padding: 50px 16px;
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  
  .project-img {
    border-radius: 12px;
    width: 240px;
    height: 220px;
  }
  
  /* .btn2 {
    color: black;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 16px;
    width: 100%;
    border-radius: 16px;
    border: #555555 0.2rem solid;
    background: transparent;
  } */

  .btn2 {
    color: #000000;
    transition: all 300ms ease;
    padding: 16px;
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
  }

  .project-btn-container {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .project-title-container {
    display: flex;
    gap: 8px;
  }

  .project-title {
    text-align: start;
  }

  .image-presentation {
    border-radius: 16px;
    object-fit: scale-down;
    height: auto;
  }

  .project-presentation-details{
    display: flex;
    flex-direction: column;
    /* gap: 16px;
    padding: 0 16px 16px 16px; */
  }

  .project-details-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #FFFAF1;
    border-radius: 16px;
    padding: 16px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  /* .project-details-container:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(255, 193, 111, 0.25);
    background: #555555;
  } */

  /* .project-details-container:hover {
    transform: scale(1.05);
  } */

  .project-title-container h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /* .project-details-container p {
    text-align: justify;
  } */

  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 22px;
  }