.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333F;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    z-index: 1000;
  }
  
  .scroll-to-top img {
    width: 20px;
    height: 20px;
  }
  
  .scroll-to-top:hover {
    background-color: #555;
  }